{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/logIn.css')}}">
    {% endblock %}
{% block body %}

    <div class="login">
        <form class="form">
            <h1 class="h1">Se connecter</h1>
            <label class="label">Identifiant</label>
            <input type="text" class="input">
            <label class="label">Mot de passe</label>
            <input type="password" class="input">
            <button type="submit" class="button">Envoyer</button>
        </form>
    </div>


{% endblock %}
