<h1>Confirmer votre email!</h1>

<p>
    appuyez sur le lien suivant pour confirmer votre mail: <br><br>
    <a href="{{ signedUrl }}">confirmer votre Email</a>.
    ce lien serra expiré dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
