{% extends 'base.html.twig' %}
{% block title %}Catalogue{% endblock %}
{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/catalogue.css')}}">
{% endblock %}

{% for voiture in voitures %}
<div class="card">
    <h2>{{ voiture.description }}</h2>
    <div class="progress-bar">
        <div style="width: 80%;"></div>
    </div>
    <p>Speed: {{ voiture.vitesse }} KM/H</p>
    <div class="progress-bar">
        <div style="width: 45%;"></div>
    </div>
    <p>Horsepower: {{ voiture.chevaux }} CHV</p>
    <button class="button">Learn More</button>
</div>
{% endfor %}
{% endblock %}