{% extends 'base.html.twig' %}

{% block title %}Voitures{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/catalogue.css') }}">
{% endblock %}

{% block body %}
<div class="cars-grid">
            <!-- Lamborghini Huracan -->
            <div class="car-card">
                <div class="car-info">
                    <h2>Lamborghini Huracan</h2>
                    <div class="stats-grid">
                        <div class="stat">
                            <span class="label">CV</span>
                            <div class="value-bar">
                                <div class="bar" style="width: 80%">580</div>
                            </div>
                        </div>
                        <div class="stat">
                            <span class="label">CV</span>
                            <div class="value-bar">
                                <div class="bar" style="width: 80%">580</div>
                            </div>
                        </div>
                        <div class="stat">
                            <span class="label">CV</span>
                            <div class="value-bar">
                                <div class="bar" style="width: 80%">580</div>
                            </div>
                        </div>
                        <div class="stat">
                            <span class="label">CV</span>
                            <div class="value-bar">
                                <div class="bar" style="width: 80%">580</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="en-savoir-plus">En Savoir Plus</a>
                </div>
                <div class="car-image">
                    <img src="images/huracan.jpg" alt="Lamborghini Huracan">
                </div>
            </div>

            <!-- Lamborghini Urus -->
            <div class="car-card">
                <div class="car-image">
                    <img src="images/urus.jpg" alt="Lamborghini Urus">
                </div>
                <div class="car-info">
                    <h2>Lamborghini Urus</h2>
                    <div class="stats-grid">
                        <div class="stat">
                            <span class="label">CV</span>
                            <div class="value-bar">
                                <div class="bar" style="width: 80%">580</div>
                            </div>
                        </div>
                        <div class="stat">
                            <span class="label">CV</span>
                            <div class="value-bar">
                                <div class="bar" style="width: 80%">580</div>
                            </div>
                        </div>
                        <div class="stat">
                            <span class="label">CV</span>
                            <div class="value-bar">
                                <div class="bar" style="width: 80%">580</div>
                            </div>
                        </div>
                        <div class="stat">
                            <span class="label">CV</span>
                            <div class="value-bar">
                                <div class="bar" style="width: 80%">580</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="en-savoir-plus">En Savoir Plus</a>
                </div>
            </div>


{% endblock %}
