body {
    background-color: black;
}

.card h2, .card p, .button {
    color: gold;
}

.card {
    background-color: #222;
    border: 1px solid gold;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
.progress-bar {
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
    margin: 0.5rem 0;
}
.progress-bar div {
    height: 20px;
    background-color: gold;
}
.button {
    background-color: gold;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}