{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/acc.css')}}">

{% endblock %}


{% block body %}
<div class="image-container">
    <div class="image-box">
        <img width="100%" src="{{ asset('css/images/imgacc.png') }}" alt="Image 1">
        <span class="image-text">Texte pour l'image 1</span>
    </div>
</div>


        <div class="widget row">
            <div class="col-6">
                <div>
                    <p class="nouveaute">Nouveauté</p>
                </div>

                <div class="titre">
                    <h1>Lamborgini huracane</h1>
                </div>
                
                <div class="description">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, maxime nam earum aliquam ad possimus, voluptatem quasi ipsum eaque modi quisquam cumque harum commodi. Expedita, quis. Doloremque consequuntur tempora praesentium.</p>
                </div>

                <div class="link">
                    <a href="" class="">j'aime le socola</a>
                </div>
            </div>

            <div class="col-6" style="overflow:hidden">
                <img width="100%" src="{{ asset('css/images/huracan1.jpeg') }}" alt="Image 1">
            </div>

        </div>

{% endblock %}
