<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CACA{% endblock %}</title>
        <link rel="stylesheet" href=" {{asset('login/login.html')}} ">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
